/*css document*/
/*Make all of the right data points take up the rest of the table to not add another row.*/
/*#navbar{
	position: fixed;
	
}
*/
table.showData {
	width:100%; 
}

/*Make each row and header have a border and be just big enough to hold data.*/
 th[class="showData"], td[class="showData"] {
	border: 1px solid black;
        
}

/*Have every odd row be gray.*/
table.showData tr:nth-child(odd) {
	background-color: #b5b5b5;
	color: black;
        padding: 5px;
	white-space: nowrap;
        text-align: center;
}

/*Have every even row be white.*/
.showData tr:nth-child(even) {
   background-color: white;
   color: black;
   padding: 5px;
   white-space: nowrap;
   text-align: center;
}

/*Have the headers be gray and aligned left.*/
th[class="showData"] {
	background-color: #b5b5b5;
	color: black;
        font-weight: bold;
}

/*For cells in a table that need to be hidden.*/
.hiddenCell {
    border: 0; 
    background-color: window;
    color: black;
}

/*Style for the tabs at the top of the page.*/
ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}


/*Style the individual tabs themselves.*/
ul.tab li a {
	color: black;
	text-align: center;
	/* removed padding*/
	display: block;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

/*What happens when you hover over the tab.*/
ul.tab li a:hover {background-color: #ddd;}

/*How a tab will look if it is currently selected. Interesting Note: because you don't reload the page,
it will treat all clicked on tabs as selected.*/
ul.tab li a:focus, .active {background-color: #ccc;}

.tabbed {
	padding-left:2em;
	display:inline-block;
}

/*What will be inside the actual tabs.*/
.tabcontent {
	display: none;
	padding: 6px 12px;
	/*border: 1px solid #ccc;*/
	border-top: none;
}

/*This will appear when you submit a request. Basically a loading icon.*/
.loader {
	position: fixed;
	opacity: 0.5;
	filter: alpha(opacity=50);
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.returnSide {
        border: 1px solid black;       
        padding: .5em .5em .5em .2em;
        /*left: 5em;*/
        margin-left: 3.5em;
        float: left;
        height: 300px;
        overflow: auto;
}

.returnDiv {
        width: 30em;
        height: 25em;
}

.dropbtn {
        color: black;
        cursor: pointer;
        border: 1px solid black;
        float: right;
}

#dropdown-content {
        position: relative;
        display: inline-block;
        float: right;
}

/*As of right now, this will not be used. It is here for a feature that is not being added to the final site.*/
#map{ height: 100% }

/*begin main styling*/
#mainContent{
	margin-bottom: 50px;
}
#buttons{
	margin-bottom:50px;
}
.buttonWrapper{
	width: 160px;
	display:block;
	float: left;
}
.button{
	width: 100%;
	display: block;
	float: left;
}
#submitButtonWrapper{
	margin-right: 100px;
	margin-left: 50px;
}

#birdNameCalcInput {
        width: 15em;
}

#dropOpt {
  position: relative;
  display: inline-block;
}