/*css document*/
/*Make all of the right data points take up the rest of the table to not add another row.*/
/*#navbar{
	position: fixed;
	
}
*/
table.showData {
	width:100%;
}

/*Make each row and header have a border and be just big enough to hold data.*/
table.showData table, table.showData th, table.showData td {
	border: 1px solid black;
	border-collapse: collapse;
}

/*Make all of the cells have padding and be aligned to the left.*/
table.showData th, table.showData td {
	padding: 5px;
	text-align: left;
	white-space: nowrap;
}

/*Have every odd row be gray.*/
table.showData tr:nth-child(odd) {
	background-color: #b5b5b5;
	color: white;
}

/*Have every even row be white.*/
table.showData tr:nth-child(even) {
   background-color: white;
   color: black;
}

/*Have the headers be gray and aligned left.*/
table.showData th {
	background-color: #b5b5b5;
	color: white;
	text-align: left;
}

/*Style for the tabs at the top of the page.*/
ul.tab {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}


/*Style the individual tabs themselves.*/
ul.tab li a {
	color: black;
	text-align: center;
	/* removed padding*/
	display: block;
	text-decoration: none;
	transition: 0.3s;
	font-size: 17px;
}

/*What happens when you hover over the tab.*/
ul.tab li a:hover {background-color: #ddd;}

/*How a tab will look if it is currently selected. Interesting Note: because you don't reload the page,
it will treat all clicked on tabs as selected.*/
ul.tab li a:focus, .active {background-color: #ccc;}

.tabbed {
	padding-left:2em;
	display:inline-block;
}

/*What will be inside the actual tabs.*/
.tabcontent {
	display: none;
	padding: 6px 12px;
	/*border: 1px solid #ccc;*/
	border-top: none;
}

/*This will appear when you submit a request. Basically a loading icon.*/
.loader {
	position: fixed;
	opacity: 0.5;
	filter: alpha(opacity=50);
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

/*As of right now, this will not be used. It is here for a feature that is not being added to the final site.*/
#map{ height: 100% }

/*begin main styling*/
#mainContent{
	margin-bottom: 50px;
}
#buttons{
	margin-bottom:50px;
}
.buttonWrapper{
	width: 160px;
	display:block;
	float: left;
}
.button{
	width: 100%;
	display: block;
	float: left;
}
#submitButtonWrapper{
	margin-right: 100px;
	margin-left: 50px;
}